@{
    ViewData["Title"] = "About | JP Bank";
    Layout = "~/Views/Shared/WelcomeLayout.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary-subtle">
                    <h7 class="fw-bold">About JP Bank </h7>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">JP Bank is India's largest bank with a network of over 15000 branches located even in the remotest parts of India. JP Bank offers a wide range of banking products and services to corporate and retail customers.</p>
                    <p class="card-text">This portal provides anywhere, anytime, online access to accounts for JP Banks's Retail and Corporate customers. The application is developed using the latest cutting edge technology and tools. The infrastructure supports unified, secure access to banking services for accounts in over 15,000 branches across India.</p>
                </div>
            </div>
        </div>
    </div>
</div>

