@{
    ViewData["Title"] = "Welcome to JP Bank";
    Layout = "~/Views/Shared/WelcomeLayout.cshtml";
}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/welcome-carousal1.jpg" class="bd-placeholder-img" width="100%" height="100%" focusable="false" preserveAspectRatio="xMidYMid slice" aria-hidden="true" />
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Your future, our priority. Experience hassle</h1>
                    <p>Free banking with personalized service and advanced digital solutions</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/welcome-carousal2.jpg" class="bd-placeholder-img" width="100%" height="100%" focusable="false" preserveAspectRatio="xMidYMid slice" aria-hidden="true" />
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>From personal loans to business growth</h1>
                    <p>Discover flexible financial solutions that fit your life and goals at JP Bank</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/welcome-carousal3.jpg" class="bd-placeholder-img" width="100%" height="100%" focusable="false" preserveAspectRatio="xMidYMid slice" aria-hidden="true" />
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Unlock your financial potential with JP Bank</h1>
                    <p>Secure savings, seamless banking, and smart investments tailored for you</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>