@{
    ViewData["Title"] = "Login | JP Bank";
    Layout = "~/Views/Shared/WelcomeLayout.cshtml";
}
@if (TempData["UserCreated"] != null)
{
    <div class="position-fixed top-0 end-0 mt-5" style="z-index: 11; margin-top:70px !important;">
        <div id="liveToast" class="toast  text-white bg-primary fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["UserCreated"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>

        </div>
    </div>
}
<div class="container col-xl-10 col-xxl-11 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Welcome back !!!</h1>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <hr class="my-4">
                <small class="text-body-secondary">Don't you have an account? <a asp-action="Signup" asp-controller="Welcome">Create one</a></small>
            </form>
        </div>
    </div>
</div>